.social_blog_container {
  width: 630px;
  height: 785px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.social_blog_container .share_text {
  font-family: var(--secondary-font-family);
  font-size: var(--mid-text-font-size);
  color: var(--body-color);
  margin-bottom: 10px;
}

.socialIcons .socIcons {
  font-size: var(--mid-text-font-size);
  color: var(--focus-color);
  margin-right: 20px;
}

.callToActionSpace {
  width: 414px;
  height: 471px;
  background-color: var(--primary-color);
  border: 10px solid var(--focus-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.callToActionSpace .question {
  font-family: var(--secondary-font-family);
  font-size: var(--mid-text-font-size);
  color: var(--body-color);
  margin-bottom: 20px;
}
.callToActionSpace .call_description {
  width: 335px;
  height: 104px;
  font-family: "Raleway";
  text-transform: lowercase;
  text-align: center;
}
.blog_btn {
  background-color: var(--light-focus-color);
  color: var(--primary-color);
  width: 196px;
  height: 71px;
  border-radius: 50px;
  border: none;
  font-family: var(--secondary-font-family);
  text-transform: capitalize;
  font-size: var(--body-font-size);
  cursor: pointer;
}

.blog_btn:hover {
  background-color: rgb(247, 174, 174);
}

.questAndDescription {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .social_blog_container {
    height: 300px;
    width: 700px;
    display: flex;
    /* flex-direction: initial; */
  }
  .social_blog_container .share_text {
    font-family: var(--secondary-font-family);
    font-size: var(--body-font-size);
  }

  .socialIcons .socIcons {
    font-size: var(--body-font-size);
  }
  .callToActionSpace {
    height: 200px;
    width: 600px;
    border: 6px solid var(--light-focus-color);
    flex-direction: initial;
    gap: 20px;
  }
  .blog_btn {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
  }
}

/* Mobile Phone */
@media only screen and (max-width: 600px) {
  .social_blog_container {
    height: 300px;
    width: 400px;
    display: flex;
    /* flex-direction: initial; */
  }
  .social_blog_container .share_text {
    font-family: var(--secondary-font-family);
    font-size: var(--body-font-size);
  }

  .socialIcons .socIcons {
    font-size: var(--body-font-size);
  }
  .callToActionSpace {
    height: 200px;
    width: 350px;
    border: 4px solid var(--light-focus-color);
    flex-direction: column;

    gap: 10px;
    padding: 10px auto;
  }
  .blog_btn {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
  }
  .callToActionSpace .question {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .callToActionSpace .call_description {
    font-size: 15px;
    padding: 5px;
    width: auto;
    height: auto;
  }
}
