.hero_container {
  background-color: var(--primary-color);
  width: 100%;
  height: 100vh;
  padding-top: 30px;
}
.hero_container .divisions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 80vh;
}

.textSpace h1 {
  font-family: var(--secondary-font-family);
  font-size: var(--hero-text-font-size);
  font-weight: var(--hero-text-font-weight);
  color: var(--p-accent-color);
  text-transform: uppercase;
  max-width: 750px;
  max-height: 201px;
  margin-bottom: var(--big-vert-spacing);
}

.textSpace p {
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  font-size: var(--small-subHeading-font-size);
  color: var(--focus-color);
}

.section-heroText .main-btn {
  width: var(--big-button-width);
  height: var(--big-button-height);
  border-radius: var(--big-button-radius);
  border: none;
  background-color: var(--focus-color);
  color: var(--second-primary-color);
  font-size: var(--body-font-size);
  text-transform: uppercase;
  font-weight: var(--hero-text-font-weight);
}

.section-heroText .main-btn:hover {
  background-color: var(--light-focus-color);
}
/* ipad devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .hero_container .divisions {
    flex-direction: column-reverse;
    gap: 19px;
    width: 100%;
    height: 80vh;
  }
  .section-heroPicture img {
    width: 343px;
    height: 284px;
  }
  .textSpace h1 {
    font-size: 30px;
    max-width: 600px;
    max-height: 201px;
    margin-bottom: 30px;
    text-align: center;
  }
  .textSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .section-heroText .main-btn {
    width: var(--mobile-big-button-width);
    height: var(--mobile-big-button-height);
    border-radius: var(--mobile-big-button-radius);
    font-size: var(--mobile-big-button-font-size);
  }
  .btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: -20px;
  }
}

/* Mobile phones */
@media only screen and (max-width: 600px) {
  .hero_container .divisions {
    flex-direction: column-reverse;
    gap: 19px;
    width: 100%;
    height: 80vh;
  }

  .section-heroPicture img {
    width: 243px;
    height: 184px;
  }
  .textSpace h1 {
    font-size: var(--mobile-hero-font-size);
    max-width: 330px;
    max-height: 120px;
    margin-bottom: 30px;
    text-align: center;
  }
  .textSpace p {
    font-size: var(--mobile-body-font-size);
    width: 253px;
  }

  .section-heroText .main-btn {
    width: var(--mobile-big-button-width);
    height: var(--mobile-big-button-height);
    border-radius: var(--mobile-big-button-radius);
    font-size: var(--mobile-big-button-font-size);
  }

  .btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-left: -20px; */
  }

  .textSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
