.blog_content_banner {
  width: 60%;
  height: 311px;
  background-color: var(--dark-primary-color);
}

.blog_content_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text_content_and_socials {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  position: relative;
  margin-bottom: 200px;
}

.text_content_and_socials .text_content {
  width: 622px;
  height: auto;
}
.text_content_and_socials .text_content .titles {
  width: 622px;
  height: 160px;
  margin-bottom: 100px;
  margin-top: 40px;
}

.titles h3 {
  width: 650px;
  height: auto;
  /* background-color: red; */
  font-family: var(--secondary-font-family);
  font-size: var(--hero-text-font-size);
  color: var(--body-color);
  font-weight: 500;
}

.titles p {
  font-family: var(--primary-font-family);
  color: var(--focus-color);
}
.text_content_and_socials .text_content .textBlog p {
  width: 622px;
  height: auto;
  text-align: left;
  font-family: "Raleway";
  font-size: 16px;
}

.socialStyleController {
  margin-top: -60px;
  position: sticky;
  top: 20px;
  align-self: flex-start;
}

.control_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textBlog p {
  font-size: 20px !important;
  line-height: 35px;
}

.relatedPosts {
  margin-top: 40px;
}
.relatedPosts .posts {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.relatedPosts h4 {
  font-family: var(--secondary-font-family);
  font-size: var(--mid-text-font-size);
  margin-bottom: 20px;
}

.controlContact {
  margin-top: 100px;
  z-index: 1000;
}

.embedded-asset {
  width: 500px;
  height: auto;
}

.hyperlink {
  color: var(--focus-color);
  font-family: "Raleway";
  text-decoration: none;
}
.rich_headers {
  font-family: var(--secondary-font-family);
}
.preserve-whitespace {
  white-space: pre-wrap;
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .text_content_and_socials {
    display: flex;
    flex-direction: column-reverse;
  }
  .blog_content_banner {
    width: 80%;
  }
  .socialStyleController {
    margin-top: -30px;
    position: static;
    top: auto;
    align-self: flex-start;
  }
  .relatedPosts .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  .relatedPosts {
    width: 700px;
  }
}

/* Mobile Phone */
@media only screen and (max-width: 600px) {
  .blog_content_banner {
    width: 80%;
  }

  .text_content_and_socials {
    display: flex;
    flex-direction: column-reverse;
  }
  .socialStyleController {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    top: auto;
    align-items: center;
    width: 100%;
  }
  .relatedPosts .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  .text_content_and_socials .text_content {
    width: 500px;
    height: auto;
  }
  .text_content_and_socials .text_content .titles {
    width: 322px;
    height: 160px;
    margin-bottom: 30px;
    margin-top: 40px;
  }
  .titles h3 {
    width: 450px;
    font-size: var(--mid-text-font-size);
  }

  .textBlog {
    width: 500px;
    height: auto;
    padding: 10px;
  }
  .textBlog p {
    width: 500px !important;
    height: auto;
    padding: 10px;
  }
  .relatedPosts {
    width: 500px;
  }
}
