.service__headers {
  width: 70%;
  padding-top: 126px;
}

.styleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__headers .headersPane {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.headersPane p {
  width: 590px;
  height: 36px;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  color: var(--focus-color);
  font-weight: 500;
  font-size: var(--small-subHeading-font-size);
}

.service__headers .headersPane h1 {
  width: 540px;
  height: 94px;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--sub-heading-font-size);
}

.service_image_and_icons {
  width: 100%;
  height: auto;
}

.service_image_and_icons .image_container {
  width: 100%;
  height: 311px;
  /* height: auto; */
  margin-bottom: 105px;
  background-color: var(--focus-color);
}

.service_image_and_icons .image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service_image_and_icons .icons__space {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 114px;
}

.agencyIcons {
  width: 320px;
  height: 289.964px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.agencyIcons h4 {
  width: 249px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  text-transform: uppercase;
}
.agencyIcons p {
  width: 200px;
  height: 67px;
  font-size: var(--small-subHeading-font-size);
  text-transform: capitalize;
  text-align: center;
}

.secondServiceSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 89px 0px;
  /* gap: 198px; */
  /* background-color: red; */
}

.style__Text__Content__Services .styleHeaders {
  width: 325px;
  height: 23px;
  font-size: var(--body-font-size);
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  color: var(--focus-color);
}

.style__Text__Content__Services p {
  width: 522px;
  height: 210px;
  font-family: var(--secondary-font-family);
  text-transform: capitalize;
  margin-top: 39px;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .service__headers {
    width: 90%;
    padding-top: 126px;
  }

  .service_image_and_icons {
    width: 100%;
    height: auto;
  }

  .service_image_and_icons .icons__space {
    gap: 30px;
    flex-wrap: wrap;
  }

  .secondServiceSection {
    flex-direction: column;
    padding: 0px;
  }

  .serviceTextSpace {
    display: flex;
    gap: 30px;
  }

  .style__Text__Content__Services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .style__Text__Content__Services .styleHeaders {
    font-size: 12px;
  }

  .style__Text__Content__Services p {
    width: 322px;
    height: 210px;
    font-family: var(--secondary-font-family);
    text-transform: capitalize;
    margin-top: 39px;
  }
}

@media only screen and (max-width: 600px) {
  .service__headers {
    width: 90%;
    padding-top: 126px;
  }

  .headersPane p {
    max-width: 250px;
    height: 50px;
    font-size: 12px;
  }
  .service__headers .headersPane h1 {
    font-size: var(--small-subHeading-font-size);
    max-width: 312px;
    height: 63px;
    margin-bottom: 30px;
  }
  .service_image_and_icons .icons__space {
    flex-direction: column;
  }

  .secondServiceSection {
    flex-direction: column;
  }

  .style__Text__Content__Services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .style__Text__Content__Services p {
    text-align: center;
  }
}
