.contact_container {
  width: 50%;
  height: 883px;
  border: 16px solid var(--light-focus-color);
  overflow: hidden;
  margin-bottom: -30px;
  background-color: #fff;
}

.contact_container .indicator_container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hideTab {
  display: none;
}

.indicator_container .detailsNameAndNumber {
  display: flex;
  gap: 10px;
  align-items: center;
}

.detailsNameAndNumber .item {
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  color: var(--focus-color);
}
.detailsNameAndNumber .count {
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  color: var(--dark-primary-color);
  text-transform: uppercase;
}

.indicator_container .indicator {
  width: 40%;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.indicator .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: var(--focus-color);
}

.indicator .noCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  border: 3px solid var(--light-focus-color);
  background-color: transparent;
}
.indicator .straight_line {
  width: 30px;
  height: 3px;
  border: none;
  background-color: var(--focus-color);
}
.formSpace {
  width: 100%;
  height: 80%;
  /* background-color: blue; */
}
.formSpace .form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

.form .input {
  width: 80%;
  height: 63px;
  background-color: var(--dark-primary-color);
  border: none;
  border-radius: 8px;
  font-family: var(--secondary-font-family);
  padding-left: 20px;
}

.form .input:focus,
.input:active {
  outline: 1px solid var(--light-focus-color);
  font-size: 18px;
  border: 1px solid var(--light-focus-color);
}

.positionBtn {
  display: flex;
  justify-content: flex-end;
  padding-right: 9%;
}

.btns {
  width: 150px;
  height: 50px;
  background-color: var(--focus-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns .prevBtn {
  height: 100%;
  width: 40%;
  border: none;
  background-color: var(--light-focus-color);
  border-radius: 5px 0px 0px 5px;
}

.btns .nextBtn {
  width: 60%;
  height: 100%;
  border: none;
  background-color: var(--focus-color);
  color: var(--primary-color);
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactService {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.contactService h2 {
  width: 430px;
  height: 83px;
  margin-left: -120px;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  text-transform: capitalize;
  color: var(--body-color);
}

.contactService .chooseService {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
}

.chooseService .serviceContainer {
  width: 159px;
  height: 120px;
  border: 1px solid var(--dark-primary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chooseService .serviceContainer p {
  width: 123px;
  height: 37px;
  font-size: 14px;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactService textarea {
  width: 88%;
  height: 118px;
  font-family: var(--secondary-font-family);
  text-transform: normal;
  background-color: var(--dark-primary-color);
  border: none;
  resize: none;
  margin-top: 76px;
  border-radius: 8px;
  padding: 20px;
}

.contactService textarea:focus,
.contactService textarea:active {
  outline: none;
  border: 1px solid var(--light-focus-color);
}

.contactService textarea::placeholder {
  margin-left: 30px;
  text-transform: uppercase;
}

.projectDetails {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  padding-top: 60px;
}

.projectDetails h2 {
  width: 430px;
  height: 83px;
  /* margin-left: -120px; */
  font-family: var(--secondary-font-family);
  font-weight: 500;
  text-transform: capitalize;
  color: var(--body-color);
}

.textSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.textSpace textarea {
  width: 85%;
  height: 118px;
  background-color: var(--dark-primary-color);
  border: none;
  resize: none;
}

.textSpace .deadLineText {
  width: 85%;
  height: 66px;
  resize: none;
  border: none;
  background-color: var(--dark-primary-color);
}

.textSpace label {
  color: var(--body-color);
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .contact_container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .contact_container {
    width: 90%;
  }
  .contactService h2 {
    margin-left: 0px;
  }

  .chooseService .serviceContainer {
    width: 117px;
    height: 90px;
  }

  .chooseService .serviceContainer p {
    font-size: 11px;
  }

  .indicator .circle {
    width: 15px;
    height: 15px;
  }

  .indicator .noCircle {
    width: 15px;
    height: 15px;
    border: 2px solid var(--light-focus-color);
  }

  .indicator .straight_line {
    width: 15px;
    height: 3px;
    border: none;
    background-color: var(--focus-color);
  }
}
