.aboutSection__container {
  display: flex;
  justify-content: center;

  gap: 128px;
  padding: 109px 293px;
}

.about__firstSection p {
  width: 217px;
  height: 36px;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  font-size: var(--small-subHeading-font-size);
  color: var(--focus-color);
}

.about__firstSection h2 {
  width: 521px;
  height: 82px;
  max-width: 521px;
  max-height: 82px;
  font-family: var(--secondary-font-family);
  text-transform: capitalize;
}

.about__firstSection span {
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  font-size: 13px;
  border-bottom: 2px solid var(--body-color);
}

.about__secondSection p {
  width: 517px;
  height: 319px;
  max-width: 517px;
  max-height: 319px;
  font-family: var(--secondary-font-family);
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .aboutSection__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 90px 32px;
  }

  .about__firstSection h2 {
    width: 331px;
    max-width: 331px;
  }

  .about__secondSection p {
    width: 364px;
    height: 320px;
    max-width: 364px;
    max-height: 320px;
  }
  .about__firstSection {
    margin-left: -30px;
  }
}
