.blog_container {
  width: 305px;
  height: 430px;
}

.blog_container .preview_image_container {
  width: 100%;
  height: 262px;
  background-color: var(--dark-primary-color);
  margin-bottom: 20px;
}
.preview_image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog_container h2 {
  width: 100%;
  font-size: 20px;
  font-family: var(--primary-font-family);
  height: 134px;
  text-transform: capitalize;
}
