.maintainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coverImageContainer {
  width: 80%;
  height: 625px;
  margin-top: 60px;
}

.coverImageContainer .imageCover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.apiProjectDetails {
  width: 80%;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 20px;
}
.apiProjectDetails .details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.apiProjectDetails .details .projectHeader {
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight: 700;
}

.apiProjectDetails .details .projectTitle {
  font-family: "Raleway";
  text-transform: capitalize;
}

.renderImageAssetContainer {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(500px, auto);
  gap: 1.5rem;
}

.imageAssetRender {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.renderImageAssetContainer .imageAssetRender:nth-child(1) {
  grid-column: 1/2;
  grid-row: span 3;
}

/* Core values and header section */
.coreValuesAndSummary {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 50px;
  background-color: var(--body-color);
  padding: 50px;
}
.coreValue h3 {
  font-family: var(--secondary-font-family);
  text-transform: capitalize;
  text-wrap: wrap;
  color: var(--primary-color);
}

.coreValue p {
  font-family: var(--primary-font-family);
  text-transform: capitalize;
  padding: 10px;
  color: var(--focus-color);
}

.projectSummary {
  width: 100%;
  height: auto;
}

.projectSummary .viewWebsite-btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: var(--focus-color);
  color: var(--second-primary-color);
  font-size: 16px;
  font-family: var(--secondary-font-family);
  font-weight: var(--button-font-weight);
  cursor: pointer;
}

.projectSummary .viewWebsite-btn:hover {
  background-color: var(--light-focus-color);
}

.projectSummary p {
  text-align: left;
  text-wrap: wrap;
  font-size: 18px;
  font-family: "Raleway";
  /* text-transform: lo; */
  line-height: 25px;
  margin-bottom: 20px;
  max-width: 80%;
  color: var(--primary-color);
  /* background-color: red; */
}

.problem_solution_result_container {
  width: 90%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 50px;
}

.problem_solution_result_container .optionStyle {
  background-color: var(--dark-primary-color);
  border-radius: 10px;
  width: 80%;
  height: 100px;
  overflow: hidden;
  transition: height 0.5s ease-in;
  /* background-color: red; */
}

.activeDropDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--dark-primary-color);
  border-radius: 10px;
  width: 80%;
  height: 300px;
  transition: height 0.5s ease-in;
  /* background-color: red; */
}

.iconAndHeader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  cursor: pointer;
}

.activeToggle {
  background-color: rgb(239, 234, 234);
}
.iconAndHeader .iconStyle {
  font-size: var(--mid-text-font-size);
  color: var(--body-color);
}

.iconAndHeader h3 {
  font-size: var(--sub-heading-font-size);
  font-family: var(--secondary-font-family);
  color: var(--body-color);
}

.styleContentContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  /* background-color: blue; */
}

.renderedTextFromResultClientSolution {
  width: 80%;
  font-family: "Raleway";
  font-size: 18px;
  /* background-color: red; */
}

/* Tablet views*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .coverImageContainer {
    height: 425px;
  }
  .apiProjectDetails {
    width: 80%;
    flex-wrap: wrap;
  }
  .renderImageAssetContainer .imageAssetRender:nth-child(1) {
    grid-column: 1/3;
    grid-row: span 2;
  }
  /* Core values and header section  on Tablet*/

  .coreValuesAndSummary {
    flex-direction: column;
    width: 80%;
    gap: 70px;
    /* padding: 0; */
  }
  .projectSummary {
    width: 100%;
    margin-bottom: 70px;
  }
  .projectSummary .viewWebsite-btn {
    border-radius: var(--small-button-radius);
    font-size: 16px;
  }
  .projectSummary p {
    text-wrap: wrap;
    font-size: 18px;
    margin-bottom: 50px;
    max-width: 100%;
  }
}

/* Mobile view */

@media only screen and (max-width: 600px) {
  .coverImageContainer {
    height: 325px;
  }
  .apiProjectDetails {
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
  }
  .apiProjectDetails .details {
    flex-direction: row;
  }
  .renderImageAssetContainer {
    width: 80%;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(500px, auto);
    gap: 1.5rem;
  }
  .renderImageAssetContainer .imageAssetRender:nth-child(1) {
    grid-column: 1/1;
    grid-row: span 2;
  }

  /* Core values and header section  on Tablet*/

  .coreValuesAndSummary {
    flex-direction: column;
    width: 80%;
    gap: 70px;
    /* padding: 0; */
  }
  .projectSummary {
    width: 100%;
    margin-bottom: 70px;
  }
  .projectSummary .viewWebsite-btn {
    border-radius: var(--small-button-radius);
    font-size: 16px;
  }
  .projectSummary p {
    text-wrap: wrap;
    font-size: 18px;
    margin-bottom: 50px;
    max-width: 100%;
  }
}
