.content_main_banner {
  width: 100%;
  height: 352px;
  background-color: var(--focus-color);
  display: flex;
  align-items: last baseline;
  padding: 20px;
}
.content_main_banner h2 {
  width: 400px;
  font-size: 30px;
  font-family: var(--secondary-font-family);
  color: var(--primary-color);
  text-transform: capitalize;
}
