:root {
  /* Desktop */
  /* Spacing */
  --small-hor-spacing: 26px;
  --big-hor-spacing: 88px;
  --small-vert-spacing: 27px;
  --big-vert-spacing: 85px;

  /* Colors */
  --primary-color: #fffdf1;
  --dark-primary-color: #e6e5e5;
  --second-primary-color: #fff9d7;
  --p-accent-color: #37379e;
  --second-p-accent-color: #7766f8;
  --focus-color: rgb(229, 81, 105);
  --light-focus-color: #ed7d8f;
  --body-color: #313638;
  --assisting-color: #b54773;

  /* font sizes */
  --body-font-size: 20px;
  --small-subHeading-font-size: 16px;
  --sub-heading-font-size: 25px;
  --sub-heading-font-weight: 700;
  --hero-text-font-size: 50px;
  /* --hero-text-font-size: 48px; */
  --mid-text-font-size: 30px;
  --mid-text-font-weight: 500;
  --hero-text-font-weight: 700;

  /*font families  */
  --primary-font-family: "Inter", sans-serif;
  --secondary-font-family: "Futura", sans-serif;

  /* Buttons */
  --smallest-button-width: 88px;
  --smallest-button-height: 88px;
  --smallest-button-radius: 50%;

  --small-button-width: 179px;
  --small-button-height: 69px;
  --small-button-radius: 45px;

  --medium-button-width: 290px;
  --medium-button-height: 47px;
  --medium-button-radius: 27px;

  --big-button-width: 413px;
  --big-button-height: 61px;
  --big-button-radius: 45px;
  --button-font-weight: 700;
  /* small devices (mobiles) */
  --mobile-smallest-button-width: 59px;
  --mobile-smallest-button-height: 59px;
  --mobile-smallest-button-radius: 50%;

  --mobile-big-button-width: 220px;
  --mobile-big-button-height: 44px;
  --mobile-big-button-radius: 45px;
  --mobile-big-button-font-size: 11px;

  --mobile-body-font-size: 14px;
  --mobile-hero-font-size: 28px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
