.infoSpace {
  margin-left: 30px;
}

.infoSpace h2 {
  width: 540px;
  height: 142px;
  font-family: var(--secondary-font-family);
  font-size: var(--mid-text-font-size);
  text-transform: capitalize;
}

.infoSpace p {
  width: 196px;
  height: 36px;
  font-family: var(--secondary-font-family);
  color: var(--focus-color);
  text-transform: uppercase;
}

.indicators {
  display: flex;
  gap: 43px;
}
.indicators p {
  height: 30px;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.indicators p:hover {
  border-bottom: 1px solid var(--focus-color);
}
